.ssl
.env
.zed
logs/
target/
Cargo.lock
.github/

# don't add dx generated tailwind css files
packages/web/assets/tailwind.css
packages/desktop/assets/tailwind.css
packages/mobile/assets/tailwind.css
